

  p.username {
    font-weight: bold;
    font-size: larger;
    font-style: oblique;
  }

  section#products {
    color: aquamarine;
  }

  article.Materials {
    color:blue;
    font-weight: bold;
  }